<!DOCTYPE HTML>
<html lang="en">

 <!-- Include page header-->
 <%- include standardNavi.ejs %>

<body>

<div class="col-lg-offset-1">
<h1>Hello World!</h1>
<p>Say hello to the server! Or Goodbye if you want.</p>

<form method="post">
    <!--
	<label for="inputMessage" class="col-lg-1 control-label">Message</label>
	 <div class="col-lg-6">
        <input class="form-control" id="hello" name="hello" placeholder="Hello Server!" type="text"> </input>
     </div>
     </br>
     </br>
    -->
	<button type="submit" class="btn btn-primary" value="Hello Server!" id="button" name="button"> Hello Server! </button>
    <button type="submit" class="btn btn-primary" value="Goodbye Server!" id="button" name="button"> Goodbye Server! </button>

</form>
</div>
</body>


 </html>