<!DOCTYPE HTML>
<html lang="en">

<body>

<div >
    
    
    <p> Hello world </p>
    <p> <%= account.password %> </p>
    <p><%= account.email %></p>
    <p><%= account.name %></p>
</div>
</body>


 </html>